<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Law Firm</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css"><!--
body{
padding:0;
margin:0;
}
.main{
height:100%;
}
.header{
font-family:Tahoma, sans-serif;
font-size:12px;
COLOR:#2FFFFF;
background-color:inherit;
padding-left:10px;
padding-right:5px;
font-weight:900;
}
.text, .text4{
font-family:Verdana,sans-serif;
font-size:11px;
color:#000000;
background-color:inherit;
padding-left:20px;
padding-right:10px;
}
.text2{
font-family:Tahoma,sans-serif;
font-size:11px;
color:#000000;
background-color:inherit;
padding-left:20px;
padding-right:10px;
font-weight:100;
}
.news{
font-family:Arial, sans-serif;
font-size:9px;
color:#ffffff;
background-color:inherit;
padding-left:10px;
padding-right:5px;
font-weight:900;
}
a{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
a:hover{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
.lbg{
height:100%;
background-image:url(images/lbg.jpg);
}
.rbg{
height:100%;
background-image:url(images/rbg.jpg);
}
.bg5{
background-image:url(images/15.jpg);
}
.bg6{
background-image:url(images/16.jpg);
}
.p_l{
padding-right:19px;
}
.p_text{
padding-right:20px;
padding-left:20px;
}
.text4 a, .text4 a:hover{
color:#000000;
background-color:inherit;
}
.fto, .fto:hover{
color:#000000;
background-color:inherit;
}
--></style>
</HEAD>
<BODY>
<!-- ImageReady Slices (91.psd) -->
<TABLE WIDTH=780 BORDER=0 CELLPADDING=0 CELLSPACING=0 align="center" class="main">
	<TR>
	<td bgcolor="#000000" rowspan=100><img src="images/spacer.gif" width=1 alt=""></td>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=102 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=87 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=33 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=49 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=72 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=78 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=83 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=48 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=228 HEIGHT=1 ALT=""></TD>
			<td bgcolor="#000000" rowspan=100><img src="images/spacer.gif" width=1 alt=""></td>
	</TR>
	<TR>
		<TD COLSPAN=9 WIDTH=780 HEIGHT=72>
			<IMG SRC="images/1.jpg" WIDTH=780 HEIGHT=72 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=9  WIDTH=780 HEIGHT=137>
			<IMG SRC="images/2.jpg" WIDTH=780 HEIGHT=137 ALT=""></TD>
	</TR>
	<TR>
		<TD WIDTH=102 HEIGHT=34>
			<a href="#"><img src="images/3.jpg" width=102 height=34 alt="" border=0></a></TD>
		<TD WIDTH=87 HEIGHT=34>
		<a href="#">	<img src="images/4.jpg" width=87 height=34 alt="" border=0></a></TD>
		<TD COLSPAN=2 WIDTH=82 HEIGHT=34>
			<a href="#"><img src="images/5.jpg" width=82 height=34 alt="" border=0></a></TD>
		<TD WIDTH=72 HEIGHT=34>
			<a href="#"><img src="images/6.jpg" width=72 height=34 alt="" border=0></a></TD>
		<TD WIDTH=78 HEIGHT=34>
			<a href="#"><img src="images/7.jpg" width=78 height=34 alt="" border=0></a></TD>
		<TD WIDTH=83 HEIGHT=34>
			<a href="#"><img src="images/8.jpg" width=83 height=34 alt="" border=0></a></TD>
		<TD COLSPAN=2 WIDTH=276 HEIGHT=34>
			<IMG SRC="images/9.jpg" WIDTH=276 HEIGHT=34 ALT=""><div style="position:absolute;top:1px;left:1px;height:0px;width:0px;overflow:hidden"><h1><a href="http://www.webdesign.org">web design</a></h1><h1><a href="http://www.freetemplatesonline.com/">free web templates</a></h1><h1><a href="http://www.websitetemplates.org/">website templates</a></h1></div></TD>
	</TR>
	<TR>
		<TD COLSPAN=9 WIDTH=780 HEIGHT=42>
			<IMG SRC="images/10.jpg" WIDTH=780 HEIGHT=42 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=3 valign="top" class="lbg">
		<!-- left text-->
	<TABLE WIDTH=222 BORDER=0 CELLPADDING=0 CELLSPACING=0 align="center">
	<TR><td><IMG SRC="images/l1.jpg" WIDTH=222 HEIGHT=26 ALT=""></td></tr>
		<TR><td><IMG SRC="images/l2.jpg" WIDTH=222 HEIGHT=123 ALT=""></td></tr>
				<TR><td class="p_l">
                 	
		 <div class="text"><br>
         If you're interested in licensing or reselling  in your country, please feel
              <br><br>
free to contact us We offer exclusive licensing or reseller volume rates, depending on your market
                      <br><br>
<b>ing approach. Also, if you would like to distribute a localized version E in your ountry, we'd be glad to</b>
<br><br>
assist you in translating  into your language.International resellers/partners for
        <br><br>
distribution If you're interested in licensing or reselling  in your country, please feel free to contact us
         </div>
                </td></tr>
    </table>	
	
		
		<!-- left text-->		
			</TD>
		<TD COLSPAN=5 valign="top" class="main">
				<!-- center text-->
		<IMG SRC="images/c1.jpg" WIDTH=330 HEIGHT=41 ALT="">
        <div class="text">
        <IMG SRC="images/c2.jpg" WIDTH=127 HEIGHT=184 ALT="" align="right" vspace=10 hspace=5>
        <b>If you're interested in licensing or reselling  in your country, please feel
                                            <br><br>
free to contact us We offer exclusive licensing or reseller volume rates, depending on your market
                                                    <br><br>
ing approach. Also, if you would like to distribute a localized version E in your ountry, </b>
                             <br><br>
<b>        SECTION HEADER</b>        <br><br>

icensing or reselling  in your country, please feel
free to contact us We offer exclusive licensing or reseller
 volume rates, depending on your marketing approach. Also, if you would
  like to distribute a localized version E in your ountry, we'd be glad to
 <br><br>
assist you in translating  into your language.International resellers/partners for<br><br>

distribution If you're interested in licensing or reselling  in your country, please feel
free to contact us We offer exclusive licensing or reseller volume rates, depending on your
 marketing approach. Also, if you would like to distribute a localized version E in your country,
  we'd be glad to assist you in translating  into your language.International resellers/partners
  for distribution.  <br><br>

        </div>		
				
				<!-- center text-->				
			</TD>
		<TD valign="top" class="rbg">
				<!-- right text-->	

              <TABLE WIDTH=228 BORDER=0 CELLPADDING=0 CELLSPACING=0 align="center">
	<TR><td><IMG SRC="images/r1.jpg" WIDTH=228 HEIGHT=41 ALT=""></td></tr>
                	
	<TR><td class="p_text">
        	<div class="text">
<b>            28 Febr 2002 <br>
::: News Header</b>
      <br><br>
If you're interested in licensing or reselling
  in your country, please feel free to contact us We offer
   exclusive licensing or reseller volume rates.  <br><br>
 <b>            28 Febr 2002 <br>
::: News Header</b>
      <br><br>
If you're interested in licensing or reselling
  in your country, please feel free to contact us We offer
   exclusive licensing or reseller volume rates.  <br><br>
   <b>            28 Febr 2002 <br>
::: News Header</b>
      <br><br>
If you're interested in licensing or reselling
  in your country, please feel free to contact us We offer
   exclusive licensing or reseller volume rates.  <br><br>


            </div>
				
    </td></tr>                	
        </table>
			
		
				
				<!-- right text-->						
			</TD>
	</TR>
	<TR>
		<TD COLSPAN=9 WIDTH=780 HEIGHT=47>
			<IMG SRC="images/14.jpg" WIDTH=780 HEIGHT=47 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=9 class="bg5"  WIDTH=780 HEIGHT=25 align="center">
        <div class="text4">
     <a href="http://">   HOME </a> &nbsp;
         |  &nbsp;  <a href="http://"> ABOUT US </a> &nbsp;   | &nbsp;
           <a href="http://">PARTNERS  </a> &nbsp;
             | &nbsp;  <a href="http://"> CLIENTS   </a> &nbsp;
              |  &nbsp; <a href="http://">CARREERS </a> &nbsp;   |&nbsp;
                 <a href="http://"> CONTACT US</a> &nbsp;
        </div>
        </TD>
	</TR>
	<TR>
		<TD COLSPAN=9 class="bg6" WIDTH=780 HEIGHT=82 align="center">
        <div class="text">
       &copy; 2006, Your Company. All rights reserved<br><a href="http://www.webdesign.org" class="fto">Web Design</a> by <a href="http://www.freetemplatesonline.com" class="fto">Free Templates</a> Online
        </div>
        </TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</BODY>
</HTML>
