<div id="seasonal">
        <div class="inner">
<h2> A - Maxe Collections</h2>
<h3>Welcome</h3>
<p>Trust, Excellence, Quality, these are some of the abiding values that have been associated with Raymond over the years. 
        Today, we have the distinction of being the world's largest integrated producers of worsted suiting fabrics. </p>
        <p></p>
        <p>.</p>
	<p>.</p>
    <p class="more"><a href="#">more</a></p>  
</div>
</div>
